.jumbotron {
  background: url('../Assets/Images/san_francisco.jpg');
  background-attachment:fixed;
  background-size: cover;
}

.job-posting{
  font-family: 'Armata';
  min-height: 100vh;
  padding: 100px 180px 80px 180px ;
}

.job-posting .position-title{
  font-size: 20px;
}

.job-posting .section-title{
  font-size: 18px;
  padding: 20px 0 20px 0;
}

.job-posting p{
  font-size: 14px;
  line-height: 2;
}