.white-bg {
  background-color: white;
}

.row.dark-bg{
  background-color: #1E3043;
  min-height: 100vh;
  max-width: 100vw;
}

#slideshow, img.bgM {
  min-height: 100%;
  min-width: 1024px;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index:-9999;
}

/*#cf {
  position:relative;
  height: 100vh;
    display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; 
}

.bg{
  width: 100%;
  height: 100% !important;
}

#cf div {
  position:absolute;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
    background-attachment:fixed !important;
  background-size: cover !important;
}

@keyframes cfFadeInOut {
  0% {
    opacity:1;
  }
  17% {
    opacity:1;
  }
  25% {
    opacity:0;
  }
  92% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

#cf div {
  animation-name: cfFadeInOut;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 8s;
  animation-direction: alternate;
}

#cf div:nth-of-type(1) {
  animation-delay: 6s;
}
#cf div:nth-of-type(2) {
  animation-delay: 4s;
}
#cf div:nth-of-type(3) {
  animation-delay: 2s;
}
#cf div:nth-of-type(4) {
  animation-delay: 0;
}*/

/*  Navbar styles */

.navbar{
  font-family: 'Armata', 'Open Sans', sans-serif;
  border: 0;
  background-color: rgba(0,0,0,0.2);
  color: white;
  padding: 15px 20px 0 20px;
  -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out,border-bottom .5s ease-in-out;
  -moz-transition: background .5s ease-in-out,padding .5s ease-in-out,border-bottom .5s ease-in-out;
  transition: background .5s ease-in-out,padding .5s ease-in-out,border-bottom .5s ease-in-out;
}

.navbar .page-link{
  position: relative;
  color: white;
}

.nav-scrolled{
  padding-top: 0px;
  background-color: white;
  color: black;
  box-shadow: 0 1px 5px -1px #165f78;
}

.nav-scrolled .page-link{
  color: black;
}

.nav-scrolled .logo{
  filter: invert(100%);
}

.navbar .logo{
  /*width: 30%;*/
  width: 130px;
  margin: 10px 0 15px 0;
}

.navbar .page-link:after {
  background-color: white;
  bottom: -2px;
  content: "";
  height: 2px;
  left: 0;
  position: absolute;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
  visibility: hidden;
  width: 100%;
}

.navbar .pages {
  margin-top: 5px;
}

.navbar .pages li:hover .page-link:after {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  visibility: visible;
}

/* Jumbotron styles */


.jumbotron-top .scroll-down{
  position: absolute;
  bottom: 100px;
  z-index: 3;
  cursor: pointer;
  margin-top: 100px;
  text-align: center;
  color: white;
  height: 70px;
  display: flex;
  justify-content: center;
}

.jumbotron-top .scroll-down-button{
  position: absolute;
  bottom: 0px;
}

.jumbotron-top .scroll-down:hover #scroll-down-text{
  color: white;
  transition: color 1s;
}

.jumbotron-top #scroll-down-text{
  transition: color 1s;
  color: transparent;
  overflow: hidden;
}


.jumbotron-top {
  /*background: url('../Assets/Images/sea_foam.jpg');*/
  /*background-attachment:fixed;*/
  /*background-size: cover;*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
-webkit-box-direction: normal;
    -ms-flex-direction: column;
        flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; 
  height: 100vh;
  margin-bottom: 0;
  padding: 0;
  position: relative;
}

.overlay-message {
  font-family: 'Armata', 'Open Sans', sans-serif;
  font-size: 4vmax;
  color: #FFFFFF;
  text-transform: uppercase;
  text-align: center;
  z-index: 3;
}

/* Footer Styles */

footer{
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Open Sans', sans-serif;
  height: 10vh;
  color: gray;
}

footer .policy-btn{
  cursor: pointer;
  margin: 0 10px 0 10px;
  text-decoration: underline;
}

/* Modal Styles */
.modal{
  font-family: 'Armata', 'Open Sans', sans-serif;
}

/* Cross-Page Styles */

.main-message{
  font-family: 'Armata', 'Open Sans', sans-serif;
  font-size: 18px;  
  margin: 160px 80px 100px 80px;
  line-height: 1.9;
}

.main-message h1{
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  font-size: 34px;
}

.main-message h3{
  margin-top: 80px;
  margin-bottom: 40px;
  font-size: 24px;
}

.overlay{
  position: absolute;
  top: 0;
  left: 0;
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5));
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5));
  width: 100%;
  height: 100%;
  z-index: 1;
}

