/*  Navbar styles */

.navbar{
	/*background-color: */
	font-family: 'Armata', 'Open Sans', sans-serif;
	border: 0;
	background-color: rgba(0,0,0,0.2);
	color: white;
}

.navbar .logo{
	width: 30%;
	margin: 10px;
}

.navbar .page-link{
	position: relative;
	color: white;
}

.navbar .page-link:after {
  background-color: white;
  bottom: -2px;
  content: "";
  height: 2px;
  left: 0;
  position: absolute;
  -webkit-transform: scaleX(0);
  -ms-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
  visibility: hidden;
  width: 100%;
}

.navbar .pages li:hover .page-link:after {
	-webkit-transform: scaleX(1);
	-ms-transform: scaleX(1);
	transform: scaleX(1);
	visibility: visible;
}

/* Jumbotron styles */

.jumbotron {
	background: url('../Assets/Images/sea_foam.jpg');
	background-attachment:fixed;
  -webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center; 
	height: 100vh;
	margin-bottom: 0;
	padding: 0;
	position: relative;
}

/*.jumbotron img{
	width: 100%;
}*/

.jumbotron > .jumbotron-message {
	font-family: 'Armata', 'Open Sans', sans-serif;
	font-size: 4vmax;
	color: #FFFFFF;
	text-transform: uppercase;
	width: 50%;
	/*position: absolute;*/
	/*top: 50%;*/
	/*left: 50%;*/
	/*transform: translate(-50%, -50%);*/
	text-align: center;
	z-index: 3;
}

/* Ecosystem Section Styles */

.ecosystem {
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
  margin: 0 8vw 0 8vw;
}

.ecosystem h3{
	font-family: 'Open Sans', sans-serif;
  margin-bottom: 30px;
  margin-top: 30px;
  font-size: 3.5vh;
	line-height: 1.1;
	color: #212121;
}

.ecosystem p{
	font-family: '.SF NS Text', 'Open Sans', sans-serif;;
	font-size: 1.8vh;
	line-height: 1.9;
	color: #000000;
	padding-right: 20px;
}

.ecosystem img{
	padding: 20px 0 20px 0;
}


/* Products Section Styles */

.products{
	background-color: #F2F2F2;
	height: 100vh;
	max-width: 100vw;
}

.products > h3{
	text-align: center;
	font-family: 'Armata', 'Open Sans', sans-serif;
	font-size: 34px;
	margin-top: 100px;
}

/* Carousel Styles */

.carousel-container{
  height: 100%;
  width: 100%;
  /*display: flex;*/
  /*justify-content: center;*/
  /*align-items: center;*/
  /*flex-wrap: wrap;*/
}

.carouselbox {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  font-family: helvetica,sans-serif;
  font-size: 14px;
  /*width: 100px;*/
  position: relative;
  /*margin: 1em;*/
  /*border: 1px solid #ccc;*/
  /*box-shadow: 2px 2px 10px #ccc;*/
  overflow: hidden;
}
.content {
    width: 80%;
    position: relative;
  margin: 0;
  padding: 0;
}
.content li {
  /*font-size: 100px;*/
  margin: 0;
  padding: 0;
  width: 100%;
  list-style: none;
  /*text-align: center;*/
}

.active {
  /*height: 130px;*/
  height: 60%;
}
.active li {
	display: none;
  position: absolute;
  top: 200px;
}
.active li.current {
  top: -120px;
	  display: flex;
    justify-content: center;
    align-items: center;
}
.active .buttons {
		width: 15%;
		display: flex;
    justify-content: center;
    position: absolute;
  padding: 5px 0;
  /*background: #eee;*/
  text-align: center;
  z-index: 10;
  /*position: relative;*/
}

.left-button{
	left: 0;
}

.right-button{
	right: 0;
}

.carouselbox button {
  border: none;
  display: none;
}
.active button {
  display: block;
  background: transparent;
} 
.offscreen {
  position: absolute;
  left: -2000px;
}

.bullets-container{
	width: 100%;
	display: flex;
	justify-content: center;
}

.bullets{
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 90px;
	margin-top: 20px;
}

.bullets .bullet{
	width: 51px;
	height: 4px;
	background: red;
	border-radius: 3.5px;
	margin: 0 7.5px 0 7.5px;	
	background-color: #e0e0e0;
}


.bullets .current{
	background-color: #7e7e7e;
}

.product-card{
	width: 60%;
	background-color: #f8f8f8;
	box-shadow: 11px 2px 60px 0 rgba(0, 0, 0, 0.18);
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: center;
	border-radius: 8px;
}

.product-card .product-image{
	display: flex;
	align-items: center;
	justify-content: center;
}

.product-card .product-image img{
	/*padding: 0px;*/
	width: 60%
}

.product-card .product-desc{
		border-radius: 0 8px 8px 0;
		    padding: 70px;
	background-image: linear-gradient(to bottom, #292929, #161616);
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	line-height: 1.6;
	/*padding-bottom: 10px;*/
}

.product-card .product-desc h3{
	margin-top: 0px;
	font-size: 22px;
	line-height: 1.4;
	color: #ca293e;
}

.product-card .product-desc p{
	color: #f8f8f8;
	font-size: 2vh;
}

.product-card .product-desc .learn-more{
	color: #9b9b9b;
	border-bottom: 1px;
}


/* Carousel Styles */

/*
.carousel-container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 70%;
}

.carousel{
  height: 60%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: absolute;
  max-width: 100vw;
  padding: 0px;
}

.carousel .carousel-inner{
  max-width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel .left-button{
	visibility: hidden;
}

.carousel-button{
	padding-left: 0px;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	border: none;
	background: none;
	padding: none;
}

.carousel .cards{
	white-space: nowrap;
	overflow: hidden;
	padding-left: 0px;
	padding-right: 0px;
}

.carousel .cards-inner{
	position: relative;
	left: 0%;
}

.carousel .card{
	width: 100%;
	position: relative;
	display: inline-flex;
	align-items: center;
  	justify-content: center;
  	vertical-align: middle;
  	white-space: normal;
}

.carousel .card .card-container{
	width: 85%;
  border-radius: 8px;
	background-color: #f8f8f8;
	box-shadow: 11px 2px 60px 0 rgba(0, 0, 0, 0.18);
	    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.carousel .card .card-container .product-desc{
	border-radius: 0 8px 8px 0;
	background-image: linear-gradient(to bottom, #292929, #161616);
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	line-height: 1.6;
	padding-bottom: 10px;
}

.carousel .product-image{
	display: flex;
    justify-content: center;
    align-items: center;
}


.carousel .card .card-container .product-desc h3{
	font-size: 22px;
	line-height: 1.4;
	color: #ca293e;
}

.carousel .card .card-container .product-desc p{
	color: #f8f8f8;
	font-size: 2vh;
}

.carousel .card .card-container .product-desc .learn-more{
	color: #9b9b9b;
	border-bottom: 1px;
}

.carousel .bullets{
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 90px;
	margin-top: 20px;
}

.carousel .bullets .bullet{
	width: 51px;
	height: 4px;
	background: red;
	border-radius: 3.5px;
	margin: 0 7.5px 0 7.5px;
	background-color: #e0e0e0;
}

.carousel .bullets .active{
	background-color: #7e7e7e;
}
*/

/* Impact Section Styles */

.impact{
	height: 100vh;
	/*min-height: 100vh;*/
	margin-bottom: 50px;
}

.impact h3{
	text-align: center;
	font-family: 'Armata', 'Open Sans', sans-serif;
	font-size: 34px;
	margin: 90px 0 50px 0;
}

.impact .impact-graph{
	display: flex;
	justify-content: center;
	align-items: center;	
}

.impact img{
	width: 40vmax;
}

/* Solutions Section Styles */

.solutions{
	background-color: #F2F2F2;
	padding: 0 10vmin 10vmin 10vmin;
	font-family: 'Armata', 'Open Sans', sans-serif;
	font-size: 16px;
	line-height: 1.9;
	color: #000000;
	min-height: 100vh;
}

.solutions h3{
	text-align: left;
	font-size: 34px;
	margin: 128px 0 50px 0;
}

.solutions ul{
	list-style-type: none;
}

.solutions .paragraph-head{
	font-size: 20px;
}

.solutions .right{
	padding-left: 30px;
}

.solutions .left{
	padding-right: 30px;
}

/* Bottom Styles */

.bottom {
	background: url('../Assets/Images/forest.jpg');
	background-attachment:fixed;
  -webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center; 
	height: 90vh;
	margin-bottom: 0;
	padding: 0;
	position: relative;
}


.bottom p{
	font-family: 'Armata', 'Open Sans', sans-serif;
	font-size: 4vmax;
	color: #FFFFFF;
	text-transform: uppercase;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

/* Footer Styles */

footer{
  display: flex;
  justify-content: center;
  align-items: center;
	font-family: 'Open Sans', sans-serif;
	/*margin-top: 200px;*/
	height: 10vh;
	color: gray;
}

/*footer .copyright{
	width: 250px;
}*/

footer .policy-btn{
	cursor: pointer;
	margin: 0 10px 0 10px;
}

/* Modal Styles */
.modal{
	font-family: 'Armata', 'Open Sans', sans-serif;
}


/* Cross-Page Styles */

.main-message{
	font-family: 'Armata', 'Open Sans', sans-serif;
	font-size: 18px;	
	margin: 160px 0 160px 0;
	line-height: 1.9;
}

.main-message h1{
	font-family: 'Open Sans', sans-serif;
	text-align: center;
	font-size: 34px;
}

.main-message h3{
	margin-top: 80px;
	margin-bottom: 40px;
	font-size: 24px;
}

.overlay{
	position: absolute;
	top: 0;
	left: 0;
	background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.34));
	width: 100%;
	height: 100%;
}
