/*  Navbar styles */

.navbar{
  font-family: 'Armata', 'Open Sans', sans-serif;
  border: 0;
  background-color: rgba(0,0,0,0.2);
  color: white;
}

.navbar .logo{
  width: 30%;
  margin: 10px;
}

.navbar .page-link{
  position: relative;
  color: white;
}

.navbar .page-link:after {
  background-color: white;
  bottom: -2px;
  content: "";
  height: 2px;
  left: 0;
  position: absolute;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
  visibility: hidden;
  width: 100%;
}

.navbar .pages li:hover .page-link:after {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  visibility: visible;
}

/* Jumbotron styles */

.jumbotron {
  background: url('../Assets/Images/sea_foam.jpg');
  background-attachment:fixed;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; 
  height: 100vh;
  margin-bottom: 0;
  padding: 0;
  position: relative;
}

.jumbotron > .jumbotron-message {
  font-family: 'Armata', 'Open Sans', sans-serif;
  font-size: 4vmax;
  color: #FFFFFF;
  text-transform: uppercase;
  width: 50%;
  text-align: center;
  z-index: 3;
}

/* Footer Styles */

footer{
  margin: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Open Sans', sans-serif;
  height: 10vh;
  color: gray;
}

footer .policy-btn{
  cursor: pointer;
  margin: 0 10px 0 10px;
}

/* Modal Styles */
.modal{
  font-family: 'Armata', 'Open Sans', sans-serif;
}

/* Cross-Page Styles */

.main-message{
  font-family: 'Armata', 'Open Sans', sans-serif;
  font-size: 18px;  
  margin: 160px 80px 100px 80px;
  line-height: 1.9;
}

.main-message h1{
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  font-size: 34px;
}

.main-message h3{
  margin-top: 80px;
  margin-bottom: 40px;
  font-size: 24px;
}

.overlay{
  position: absolute;
  top: 0;
  left: 0;
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.34));
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.34));
  width: 100%;
  height: 100%;
}