.main{
	padding: 0;
}

.profiles{
	background-color: rgba(0, 0, 0, 0.7);
	font-family: Armata;
	color: white;
	/*padding: 120px 0 120px 0;*/
}

.profiles > .row{
	padding: 120px 0 120px 0;
	position: relative;
}

.profiles .profile{
	/*padding: 0 60px 0 60px;*/
}

.profiles .row .section-bg{
	position: absolute;
	top: 0;
	left: 0;
}

.profiles .profile img{
	border-radius: 15px;
	display: block;
	margin: auto;
	box-shadow: 13px 21px 40px 0px rgba(0,0,0,0.18);
}

.profiles .profile h3{
	font-size: 30px;
	line-height: 1.2;
	text-align: center;
	margin: 30px 0 30px 0;
}

.profiles .profile p{
	font-size: 18px;
	line-height: 1.9;
}
